.character {
  position: relative;
  display: grid;

  &__image {
    width: 100%;
    border-radius: 6px;

    @media (max-width: 480px) {
      border: solid 3px #161616;
    }
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    width: 100%;
    background-color: #00131783;
    overflow-wrap: anywhere;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    font-size: 12px;
    width: 50%;
  }
}

.mat-icon {
  height: 20px;
  width: 20px;
}
