@use "@angular/material" as mat;
@include mat.core();
@import "../../../custom-theme.scss";

.form {
  @include mat.all-component-themes($light-custom-theme);
  display: flex;
  padding-top: 25vh;
  padding-bottom: 10vh;
  gap: 10px;
  flex-direction: column;
  align-items: end;

  &__fields {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    justify-content: space-around;

    @media (max-width: 480px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__submit {
    width: 100px;
  }

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: center;
  }
}
