.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 1;
  padding: 20px;
  background: linear-gradient(to top, #00131700 5%, #0013175d 20%, #001317 55%);
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;

  &__controlls {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__hero-title {
    width: 200px;
    cursor: pointer;

    @media (max-width: 390px) {
      width: 100%;
    }
  }

  @media (max-width: 390px) {
    padding: 15px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.mat-icon {
  font-size: xx-large;
  height: 50px;
  width: 50px;
}
