.detail {
  padding-top: 28vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    display: flex;
    gap: 10px;
    background-color: #0013177a;
    border-radius: 10px;
    padding: 10px;

    @media (max-width: 390px) {
      flex-direction: column;
    }
  }

  &__image {
    border-radius: 5px;
    height: 50vh;
    width: auto;

    @media (max-width: 390px) {
      width: 70vw;
      height: auto;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__row {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
}
