<section class="detail">
  <div class="detail__wrapper">
    <img class="detail__image" [src]="character.image" alt="{{character.name}}" width="300" height="300" />
    <table>
      <tr class="detail__data">
        <th class="detail__row">
          <h2>Name</h2>
          <span>{{character.name}}</span>
        </th>
        <th class="detail__row">
          <h2>Status</h2>
          <span>{{character.status}}</span>
        </th>
        <th class="detail__row">
          <h2>Species</h2>
          <span>{{character.species}}</span>
        </th>
        <th class="detail__row">
          <h2>Type</h2>
          <span>{{character.type}}</span>
        </th>
        <th class="detail__row">
          <h2>Gender</h2>
          <span>{{character.gender}}</span>
        </th>
      </tr>
    </table>
  </div>
</section>
