@use "@angular/material" as mat;
@import "./custom-theme.scss";

@include mat.core();

:root {
  @include mat.all-component-themes($dark-custom-theme);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  color: mat.get-theme-color($dark-custom-theme, primary, 90);
  background-color: mat.get-theme-color($dark-custom-theme, neutral, 6);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
}

th {
  font-weight: normal;
}

h1,
h2 {
  margin: 0;
  font-size: large;
}

.mat-icon {
  cursor: pointer !important;
  font-size: 20px;
}
