@use "@angular/material" as mat;
@include mat.core();
@import "./custom-theme.scss";

:root {
  @include mat.all-component-themes($light-custom-theme);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  margin: 0;
  color: #fff;
  background-color: #161616;
  padding: 20px;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
